<?xml version="1.0"?>
<robot name="robot" >
 <link name="box1" >
  <visual>
   <origin xyz="0.0 0.0 0.0"  rpy="0.0 -0.0 0.0"  />
   <geometry name="box1_visual" >
    <mesh scale="0.001 0.001 0.001"  filename="package://u1/meshes/box1.stl"  />
   </geometry>
  </visual>
 </link>
 <link name="box2" >
  <visual>
   <origin xyz="0.0 0.0 0.0"  rpy="0.0 -0.0 0.0"  />
   <geometry name="box2_visual" >
    <mesh scale="0.001 0.001 0.001"  filename="package://u1/meshes/box2.stl"  />
   </geometry>
  </visual>
 </link>
</robot>
